<div class="col-md-3 col-sm-6 portfolio-item">
	<a data-lightbox="logos" details="{{texte_0}}" class="img-fluid" href="{{lbox_0}}">
		<img src="{{lbox_0}}" class="img-fluid zoom">
	</a>
	<div class="portfolio-caption">
		<h4>
			{{h4_0}}
		</h4>
	</div>
</div>
